
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}

.wrapper-custom{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section-title{
	font-family: 'Comfortaa', cursive;
	color: #2b2b2b;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -1.5px;
	padding-bottom: 42px;
}
.product{
	padding-top: 48px;
}
.sidebar-filter{
	width:23%;
	&__sub-btn{
		display: block;
		color: #36a8bf;
		height: 40px;
		font-size: 13px;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: 0.13px;
		text-align: center;
		border:  1px solid #e1e1e1;
		border-top:none;
	}
	
}
.product-content{
	width:74%;
}
.product-row{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 45px;
}
.product-title{
	color: #282828;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: -0.16px;
	padding-bottom: 22px;
}
.product-item{
	width: 31.2%;
	margin-right: 3.2%;
	position: relative;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09);
	background-color: #ffffff;
	padding-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: all 0.3s;
	&:hover{
		box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36);
		border: 1px solid #c2e8f0;
		transition: all 0.3s;
	}
	&:nth-child(3n){
		margin-right: 0;
	}
	&__title{
		color: #282828;
		font-family: "Open Sans";
		font-size: 15px;
		font-weight: 400;
		letter-spacing: -0.15px;
		text-align: center;
		
		&:after{
			content:'';
			display: block;
			width: 100%;
			max-width: 79px;
			margin: 0 auto;
			height: 1px;
			background: #dbdbdb;
			margin-top: 17px;
			margin-bottom: 22px;

		}
	}
	&__price{
		color: #282828;
		font-family: "Open Sans";
		font-size: 15px;
		font-weight: 700;
		letter-spacing: -0.15px;
		text-align: center;
	}
}
.slick-dots{
	text-align: center;
	padding: 44px 0;
	list-style: none;
	li{
		display: inline-block;
		margin: 0 6px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background:#cccccc;
		&.slick-active{
			background:#e44256;
		}
		button{
			display:none
			
		}
	}
}
.nicescroll-rails{
	&>div{
		background-color: #93deff !important;
	}
}
.slick-arrow{
	position: absolute;
	bottom:0px;
	left:50%;
	width: 39px;
	height: 39px;
	border: 1px solid #d7d7d7;
	background-color: #f1f1f1;
	overflow: hidden;
	color: transparent;
	border-radius: 50%;
}
.slick-prev{
	transform: translateX(-187%);
	background: url('../img/arrow-prev.svg') #f1f1f1 no-repeat center center;
	background-size:6px;
	bottom: 30px;
}
.slick-next{
	transform: translateX(87%);
	background: url('../img/arrow-next.svg') #f1f1f1 no-repeat center center;
	background-size:6px;
	bottom: 30px;
}
.filter-list{
	list-style: none;
	position: relative;
	&__item{
		width: 100%;
		min-height: 40px;
		line-height: 40px;
		border: 1px solid #e1e1e1;
		border-bottom:none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		
		&.active .arrow-icon{
			transform: rotate(180deg);
			transition:all 0.3s;
		}
		&.active .filter-list__link{
			border-bottom: 1px solid #e1e1e1;
		}
		&:last-child {
			.filter-list__link,
			.submenu-filter{
				border-bottom: 1px solid #e1e1e1;
			}
		}
	}
	&__title{
		color: #343434;
		font-size: 14px;
    	font-weight: 700;
		letter-spacing: 0.14px;
		padding-left: 20px;
		padding-right: 10px;
	}
	&__link{
		color: #343434;
    	font-weight: 700;
		font-size: 14px;
		letter-spacing: 0.14px;
		width: 100%;
		padding-left: 20px;
		padding-right: 10px;
		cursor: pointer;
	}
}
.submenu-filter{
	display: none;
	padding-top: 15px;
	width: 100%;
	
	&__list{
		list-style: none;
		width: 100%;
		padding-left: 20px;
		padding-right: 10px;
		&.hidden{
			max-height: 160px;
			overflow-y:scroll;
		}
	}
	&__list-item{
		width: 100%;
		padding-left: 10px;
		line-height: 1.2;
		margin-bottom: 11px;
	}
	&__list-link{
		width: 100%;
		color: #444444;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0.13px;
		transition:all 0.3s;
		&:hover{
			color:#39a6be;
			transition:all 0.3s;
		}
		&.active{
			color:#39a6be;
		}
		
	}
}
.arrow-icon{
	display: block;
	width: 10px;
	height: 6px;
	background: url('../img/icons/arrow-bottom.svg') no-repeat center center;
	background-size: cover;
	position: absolute;
	right: 17px;
	top:17px;
	transition:all 0.3s;
}
.jq-selectbox{
	width: 100%;
	max-width: 130px;
	margin-right: 10px;
	height: 30px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
	border: 1px solid #e1e1e1;
	background-color: #f3f3f3;
	line-height: 30px;
	color: #464646;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.7px;
	position: relative;
	&:after{
		content:'';
		display: block;
		width: 10px;
		height: 6px;
		background: url('../img/icons/arrow-bottom.svg') no-repeat center center;
		background-size: cover;
		position: absolute;
		right: 13px;
		top:12px;
		transition:all 0.3s;
	}
	&.opened:after{
		transform: rotate(180deg);
		transition:all 0.3s;

	}
	&__dropdown{
		width: 100%;
		background: #f3f3f3;
	}
}
.product-pic{
	width: 100%;
	&__item{
		width: 100%;
		height: auto;
		max-height: 140px;
		overflow: hidden;
		img{
			display:block;
			width: 100%;
			height: auto;
		}
	}
}
.jq-selectbox__select-text{
	padding-left: 13px;
}
.jq-selectbox li{
	padding-left: 13px;
	cursor:pointer;
	transition: all 0.3s;
	&:hover{
		background: #464646;
		color:#fff;
		transition: all 0.3s;
	}
}
.stiker{
	position: absolute;
	left: 13px;
    top: 14px;
	display:block;
	padding: 0 5px;
	min-width: 64px;
	height: 27px;
	border-radius: 5px;
	line-height: 27px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.11px;
	text-align: center;
	&_new{
		background-color: #48b3cb;
	}
	&_hit{
		background-color: #ffae2e;
	}
}
.rate_wrapper{
	text-align: center;
	padding: 20px 0;
}
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 1020px) {
	.jq-selectbox{
		margin-left: 20px;
		margin-bottom: 15px;
	}
	.filter-list__item{
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 766.9px) {
	.wrapper-custom{
		flex-direction:column;
	}
	.product-content {
		width: 100%;
		padding:0 5px;
	}
	.filter-list__title{
		width: 83px;
	}
	.sidebar-filter{
		width: 100%;
		margin-bottom: 20px;
	}
	.jq-selectbox{
		margin-left: 20px;
		margin-bottom: 15px;
	}
	.filter-list__item{
		justify-content: flex-start;
	}
}

@media screen and (max-width: 520px) {
	.product-row{
		flex-direction: column;
	}
	.product-item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 340px){
	.section-title{
		font-size: 26px;
	}
}

